<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${'Name: ' + animal.getName()}"></p>
    <p th:text="${'Birth: ' + animal.getBirth()}"></p>
    <p th:text="${'Sex: ' + animal.getType()}"></p>
    <p th:text="${'ID: ' + animal.getId()}"></p>
    <br/>
    <p>Feed with:</p>
    <div th:each="feed : ${feeds}">
        <p th:text="${feed}">feed</p>
    </div>
    <a th:href="@{/animal/patch/{id}(id=${animal.getId()})}">Change animal</a>
<br/>
<hr/>
<form th:method="POST" th:action="@{/animal/{id}(id=${animal.getId()})}">
    <input name="_method" type="hidden" value="DELETE" />
    <input type="submit" value="Delete him!"/>
</form>
</body>

<br/>
<a th:href="@{/person}"> Back to person </a>

<br/>
<hr/>
<a th:href="@{/animal/review/{id}(id=${animal.getId()})}"> See reviews </a>
</html>