<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${'Name: ' + animal.getName()}"></p>
    <p th:text="${'Age: ' + animal.getBirth()}"></p>
    <p th:text="${'Salary: ' + animal.getSex()}"></p>
    <a th:href="@{/animal/patch/{id}(id=${animal.getId()})}">Change animal</a>
<br/>
<hr/>
<form th:method="DELETE" th:action="@{/animal/{id}(id=${animal.getId()})}">
  <input type="submit" value="Delete him!"/>
</form>
</body>

<br/>
<a href="/person"> Back to person </a>
</html>