<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShowPerson</title>
</head>
<body>

<form method="POST" th:action="@{/person/animal}" th:object="${animal}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>

        <label for="birth">Date of birth:</label>
        <input type="date" th:field="*{birth}" id="birth"/>
        <div style="color:red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Name Error</div>
        <br/>

        <label for="sex">Sex</label>
        <input type="text" th:field="*{sex}" id="sex">
        <div style="color:red" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Sex error</div>
        <br/>

        <input type="submit" value="Submit">
    </div>
</form>

<br/>
<a th:href="@{/person}"> Back to person </a>

</body>
</html>