<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShowPerson</title>
</head>
<body>

<form method="POST" name="form1" th:action="@{/person/animal}" th:object="${animal}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <br/>

        <label for="birth">Date of birth:</label>
        <input type="date" th:field="*{birth}" id="birth"/>
        <div style="color:red" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">Birth Error</div>
        <br/>

        <label for="type">Type</label>
        <input type="text" th:field="*{type}" id="type">
        <div style="color:red" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type error</div>
        <br/>
    </div>
    <br/>
    <div th:object="${feed}">
        <label for="meat">Meat</label>
        <input id="meat" type="checkbox" name="meat"/>
        <br/>
        <label for="fruit">Fruit</label>
        <input id="fruit" type="checkbox" name="fruit"/>
        <br/>
        <label for="veges">Veges</label>
        <input id="veges" type="checkbox" name="veges"/>
        <br/>
    </div>
</form>

<br/>
<hr/>

<input type="button" value="Create" onclick="submitForms()"/>

<script>
    submitForms = function() {
        document.forms["form1"].submit();
    }
</script>

<br/>
<a th:href="@{/person}"> Back to person </a>

</body>
</html>