<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/person/newAnimal}"> Create Animal </a>
<br/>
<a th:href="@{/person/listAnimal}"> See my animals </a>
<br/>
<hr/>
<br/>
<p>Look for some animal:</p>
<form method="POST" th:action="@{/person/find}" th:object="${animalCode}">
    <div>
        <label for="value">Id:</label>
        <input type="number" th:field="*{value}" id="value">
        <div style="color:red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value Error</div>
        <br/>

        <input type="submit" value="Submit">
    </div>
</form>

</body>
</html>